<div class="booking-bar-container">
  <p>Total £95</p>
  <p><span class="fas fa-minus"></span>  <span class="far fa-user"></span>   1   <span class ="fas fa-plus"></span></p>
  <div class="booking-btn">Book Now</div>
</div>