<div class="toggle-container">
  <div>
    <div class="filter-button">
      <button type="button" data-toggle="button" id="hot">
        <img src="https://res.cloudinary.com/markcarson121/image/upload/v1623348000/white_hot_i3opcg.png">
      </button>
    </div>
  </div>
  <div>
    <div class="filter-button">
      <button type="button" data-toggle="button" id="food">
        <img src="https://res.cloudinary.com/markcarson121/image/upload/v1623347992/white_food_bw95sq.png">
      </button>
    </div>
  </div>
  <div>
    <div class="filter-button">
      <button type="button" data-toggle="button" id="drink">
        <img src="https://res.cloudinary.com/markcarson121/image/upload/v1623347981/white_drink_iixojr.png">
      </button>
    </div>
  </div>
  <div>
    <div class="filter-button">
      <button type="button" data-toggle="button" id="show">
        <img src="https://res.cloudinary.com/markcarson121/image/upload/v1623348015/white_show_zpxyal.png">
      </button>
    </div>
  </div>
  <div>
    <div class="filter-button">
      <button type="button" data-toggle="button" id="music">
        <img src="https://res.cloudinary.com/markcarson121/image/upload/v1623348008/white_music_ihzu6n.png">
      </button>
    </div>
  </div>
  <div id="button-position">
    <%= link_to event_path(@rand_event) do %>
      <button class="random-event-button" type="button">
        <i class="fas fa-dice"></i>
      </button>
    <% end %> 
  </div>
</div>
