<div class="footer">
  <div>
    <a href="/" class="fas fa-search"></a>
  </div>
  <div>
    <a href="#" class="far fa-heart"></a>
  </div>
  <% if user_signed_in? %>
    <div>
      <%= link_to(destroy_user_session_path, method: :delete) do %>
        <i class="fas fa-user"></i>
      <% end %>
    </div>
  <% else %>
    <div>
      <a href="/users/sign_in" class="far fa-user"></a>
    </div>
  <% end %>
</div>
