<div class="wrapper">
  <div class="footer">
    <div>
      <a href="/" class="fas fa-search"></a>
    </div>
    <div>
      <a href="#" class="far fa-heart"></a>
    </div>
    <div>
      <a href="/users/sign_in" class="far fa-user"></a>
    </div>
  </div>
</div>