<div class="wrapper">
  <div class="footer">
    <div>
      <%= link_to favourites_path do %>
        <i href="#" id="footer-heart" class="far fa-heart"></i>
      <% end %>
    </div>
    <% if user_signed_in? %>
      <div>
        <%= link_to(destroy_user_session_path, method: :delete) do %>
          <i class="fas fa-user"></i>
        <% end %>
      </div>
    <% else %>
      <div>
        <a href="/users/sign_in" class="far fa-user"></a>
      </div>
    <% end %>
  </div>
</div>
