<div class="component-container">

  <!-- Modal -->
  <div id="login-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal Content-->
      <div class="modal-content">
        <div class="modal-body">
          <div class="header">
            <span class="modal-title">Log in or sign up</span>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <p>Or</p>
          <button type="button">Continue</button>
          <button type="button">Email</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Book Now Button -->
  <div class="position-container">
    <div class="button-container">
        <button data-toggle="modal" data-target="#login-modal">Book Now</button>
      </div>
    </div>
  </div>

</div>