<div class="component-container">
  <div class="position-container">
    <div class="search-container">
      <div>
        <i class="fas fa-search"></i>
      </div>
      <%= form_tag events_path, method: :get do %>
        <%= hidden_field_tag 'coordinates' %>
        <%= text_field_tag :query, params[:query], placeholder: "Enter Postcode:", id: "search" %>
        <%= submit_tag "Go!", class: "go-btn" %>
      <% end %>
      <div id="pin">
        <span id="current-location" class="fas fa-map-marker-alt"></span>
      </div>
    </div>
  </div>
</div>
