<div class="search-container">
  <div id="pin">
    <p id="current-location" class="fas fa-map-marker-alt"></p>
  </div>
  <div>
    <%= form_tag events_path, method: :get, id: "search-form" do %>
      <%= hidden_field_tag 'hidden', params[:hidden], id: "hidden" %>
      <%= text_field_tag :query, params[:query], placeholder: "Enter Postcode:", id: "search" %>
    <% end %>
  </div>
</div>
