#map {
  position: relative;
  height: calc(var(--vh, 1vh) * 93);
  width: 100vw;
}

.mapboxgl-ctrl-bottom-left,
.mapboxgl-ctrl-bottom-right {
  display: none;
}

#page-container-index {
  height: calc(var(--vh, 1vh) * 100);
  width: 100%;
}

#filter-buttons {
  padding-right: 8px;
  position: relative;
  top: 10%;
}

#card-header {
  p {
    color: var(--clr-white);
    font-family: var(--ff-header);
    font-size: 1.5rem;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
    white-space: nowrap;
  }
}

.event-card {
  background: radial-gradient(circle at top, var(--clr-purple), var(--clr-black), var(--clr-black), var(--clr-black) 200%);
  border-radius: 6px;
  filter: drop-shadow(0px 2px 4px #333);
  display: flex;
  height: calc(var(--vh, 1vh) * 25);
  margin-bottom: 8px;
  margin-left: 2vw;
  margin-top: -8px;
  position: relative;
  width: 100%;
  z-index: 99999;

  a {
    color: var(--clr-white);
    text-decoration: none;
  }

  button {
    margin: 0;
    padding: 0;
  }

  h2 {
    color: var(--clr-white);
    font-family: var(--ff-header);
    font-size: 2.5rem;
    text-transform: uppercase;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 170px;
  }

  img {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    height: calc(var(--vh, 1vh) * 25);
    object-fit: cover;
    width: 165px;
  }

  p {
    padding-bottom: 6px;
  }

  span,
  p {
    color: var(--clr-white);
    font-family: var(--ff-primary);
    font-size: 1rem;
  }

  .fas {
    color: var(--clr-orange);
  }
}

.card-container {
  align-items: center;
  display: flex;
  height: calc(var(--vh, 1vh) * 28);
  overflow-x: scroll;
  overflow-y: hidden;
  position: sticky; top: calc(var(--vh, 1vh) * 64.9);
  z-index: 99999;
}

.event-price {
  justify-content: center;
  background-color: var(--clr-black);
  bottom: 0px;
  border: 3px solid var(--clr-orange);
  border-radius: 20px;
  filter: drop-shadow(1px 1px 8px var(--clr-black));
  font-size: 1rem;
  margin-bottom: 8px;
  margin-left: 8px;
  max-width: 100%;
  padding: 5px 10px;
  position: absolute;
}

.event-info {
  background-color: transparent;
  justify-content: space-between;
  padding-left: 8px;
  height: calc(var(--vh, 1vh) * 25);
  overflow: hidden;

  a {
    color: var(--clr-white);
  }

  .fas {
    font-size: 1rem;
  }
}

#heart {
  color: var(--clr-red);
  font-size: 1.5rem;
  padding-top: 8px;
  padding-right: 8px;
}
