#page-container-index {
  height: 100vh;
}

#checkout-footer {
  margin-top: auto;
}

#filter-flex {
  display: flex;
  justify-content: center;
}

#venue {
  p {
    color: #FFF;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    margin-left: 8px;
    margin-top: -4px;
    text-transform: uppercase;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 138px;
  }
}

#venue-details {
  margin-left: 8px;
}

.event-card {
  background: radial-gradient(circle at top, rgba(61, 50, 76, 1.00), black, black, black 200%);
  border-radius: 6px;
  box-shadow: black 0px 15px 30px -10px;
  display: flex;
  height: 20vh;
  margin-bottom: 8px;
  margin-left: 3.5vw;
  position: relative;
  width: 98vw;
  z-index: 99999;

  button {
    margin: 0;
    padding: 0;
  }

  h2 {
    font-family: oswald, sans-serif;
    font-size: 28px;
    margin-left: 8px;
    margin-top: -36px;
    text-transform: uppercase;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 120px;
  }

  img {
    border-top-left-radius: 6px;
    border-bottom-right-radius: 6px;
    height: 20vh;
    object-fit: cover;
    width: 150px;
  }

  p {
    color: #FFF;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
  }

  span {
    color: #FFF;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
  } 

  .far {
    margin: 0;
    padding-right: 8px;
    padding-top: 8px;
  }

  .fas {
    color: rgba(254, 103, 87, 1.00);
    margin: 0;
    padding-right: 8px;
    padding-top: 8px;
  }

  #heart {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
  }
}

.event-card-container {
  align-items: center;
  top: 74.8%;
  display: flex;
  // height: 25vh;
  // height: 140px;
  // margin-top: -140px;
  // min-width: 320px;
  overflow-x: scroll;
  overflow-y: hidden;
  position: relative;
  z-index: 99999;
}

.event-price {
  background-color: black;
  bottom: 0px;
  border: 3px solid rgba(254, 103, 87, 1.00);
  border-radius: 20px;
  filter:drop-shadow(1px 1px 8px black);
  font-size: 16px;
  margin-bottom: 8px;
  margin-left: 8px;
  padding: 7px 10px;
  position: absolute;
  z-index: 1;
}

.event-timer {
  margin-bottom: 4px;
  margin-left: 8px;
}

.event-information {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;

  a {
    color: #FFF;
  }
}

#index-heart {
  color: red;
  font-size: 24px;
}