// map positioning and configuration
#map {
  position: relative;
  height: calc(var(--vh, 1vh) * 93);
  width: 100vw;
}

// removes MapBox icons
.mapboxgl-ctrl-bottom-left,
.mapboxgl-ctrl-bottom-right {
  display: none;
}

// page positioning and configuration
#page-container-index {
  height: calc(var(--vh, 1vh) * 100);
  width: 100%;
}

// filter button positioning
#filter-buttons {
  padding-right: 8px;
  position: relative;
  top: 10%;
}
