#map {
  position: relative;
  height: calc(var(--vh, 1vh) * 93);
  width: 100vw;
}

.mapboxgl-ctrl-bottom-left,
.mapboxgl-ctrl-bottom-right {
  display: none;
}

#page-container-index {
  height: calc(var(--vh, 1vh) * 100);
  width: 100%;
}

#checkout-footer {
  margin-top: auto;
}


#filter-flex {
  display: flex;
  flex-direction: row-reverse;
  padding-right: 8px;
  position: relative;
  top: 10%;
}

#venue {
  p {
    color: var(--clr-white);
    font-family: var(--ff-header);
    font-size: 24px;
    margin-left: 8px;
    margin-top: -4px;
    text-transform: uppercase;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 170px;
  }
}

.venue-details {
  margin-left: 8px;
  margin-top: -6px;

  .fas {
    font-size: 18px;
    margin-right: -8px;
  }

  .p {
    font-size: 30px;
  }
}

.event-card {
  background: radial-gradient(circle at top, rgba(61, 50, 76, 1.00), var(--clr-black), var(--clr-black), var(--clr-black) 200%);
  border-radius: 6px;
  filter: drop-shadow(0px 2px 4px #333);
  display: flex;
  height: calc(var(--vh, 1vh) * 25);
  margin-bottom: 8px;
  margin-left: 2vw;
  position: relative;
  width: 96vw;
  z-index: 99999;

  a {
    color: var(--clr-white);
    text-decoration: none;
  }

  button {
    margin: 0;
    padding: 0;
  }

  h2 {
    color: var(--clr-white);
    font-family: var(--ff-header);
    font-size: 40px;
    margin-left: 8px;
    margin-top: -70px;
    text-transform: uppercase;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 145px;
    padding-bottom: 4px;
  }

  img {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    height: calc(var(--vh, 1vh) * 25);
    object-fit: cover;
    width: 165px;
  }

  p {
    padding-bottom: 6px;
  }

  span,
  p {
    color: var(--clr-white);
    font-family: var(--ff-primary);
    font-size: 16px;
  }

  .event {
    display: flex;
    align-items: flex-start;
  } 

  .far,
  .fas {
    margin: 0;
    padding-right: 8px;
    padding-top: 8px;
  }

  .fas {
    color: var(--clr-orange);
  }

  #heart {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
  }
}

.event-card-container {
  align-items: center;
  display: flex;
  height: calc(var(--vh, 1vh) * 28);
  overflow-x: scroll;
  overflow-y: hidden;
  position: sticky; top: calc(var(--vh, 1vh) * 64.9);
  z-index: 99999;
}

.event-price {
  background-color: var(--clr-black);
  bottom: 0px;
  border: 3px solid var(--clr-orange);
  border-radius: 20px;
  filter: drop-shadow(1px 1px 8px var(--clr-black));
  font-size: 16px;
  margin-bottom: 8px;
  margin-left: 8px;
  max-width: 100%;
  padding: 7px 10px;
  position: absolute;
}

.event-timer {
  margin-bottom: 4px;
  margin-left: 8px;
}

.event-information {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;

  a {
    color: var(--clr-white);
  }
}

#index-heart {
  color: red;
  font-size: 24px;
}
