#page-container-index {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#checkout-footer {
  margin-top: auto;
}

#filter-flex {
  display: flex;
  justify-content: center;
}

.event-card {
  background: var(--clr-card-bg);
  display: flex;
  height: 25vh; 
  position: relative;
  width: 100vw;

  a {
    text-decoration: none;
    color: var(--clr-card-text);
  }

  h2 {
    font-family: var(--ff-header);
    font-size: 17px;
    font-weight: bold;
    margin: 0;
    padding-left: 8px;
  }

  img {
    height: 100%;
    object-fit: cover;
    width: 150px;
  }

  p {
    color: var(--clr-card-text);
    font-family: var(--ff-primary);
    font-size: 16px;
    line-height: 1.4;
    padding-left: 8px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}

.event-card-container {
  align-items: center;
  display: flex;
  height: 25vh;
  min-width: 320px;
  overflow: scroll;
  padding-bottom: 8px;  
  padding-top: 8px;
  position: static;
}

.event-timer {
  margin-bottom: 8px;
}

.event-details {
  margin-top: -4px;
}

.event-price {
  background-color: var(--clr-primary);
  bottom: 0px;
  border: 3px solid white;
  border-radius: 20px;
  color: var(--clr-text);
  font-family: var(--ff-primary);
  font-size: 16px;
  margin-bottom: 8px;
  margin-left: 8px;
  padding: 7px 10px;
  position: absolute;
  z-index: 1;
}

.event-information {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
}

.card-top-row {
  display: flex;
  padding-left: 4px;
  padding-top: 4px;
 }

 #heart {
    margin-top: -2px;
    margin-left: auto;
    padding-right: 4px;
}

.event-review {
  display: flex;
  justify-content: start;
  align-content: flex-end;
}


#index-heart {
 color: red;
}
