#page-container-index {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#checkout-footer {
  margin-top: auto;
}

#filter-flex {
  display: flex;
  justify-content: center;
}

.event-card {
  background: radial-gradient(circle at top, rgba(61, 50, 76, 1.00), black, black, black 200%);
  border-radius: 6px;
  box-shadow: black 0px 15px 30px -10px;
  display: flex;
  height: 25vh;
  margin-bottom: 8px;
  margin-left: 2.5vw;
  position: relative;
  width: 95vw;
  z-index: 99999;

  a {
    text-decoration: none;
    color: var(--clr-card-text);
  }

  h2 {
    font-family: oswald, sans-serif;
    font-size: 24px;
    text-transform: uppercase;
  }

  img {
    border-radius: 6px;
    height: 25vh;
    object-fit: cover;
    width: 150px;
  }

  p {
    color: var(--clr-card-text);
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
  }

  span {
    color: #FFF;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
  }

  .fas {
    color: rgba(254, 103, 87, 1.00);
    margin-left: -2px;
    margin-right: -3px;
  }
}

.event-card-container {
  align-items: center;
  display: flex;
  height: 140px;
  margin-top: -140px;
  min-width: 320px;
  overflow-x: scroll;
  overflow-y: hidden;
  position: relative;
}

.event-card-container:last-child {
  margin-right: 8px;
}

.event-price {
  background-color: var(--clr-primary);
  bottom: 0px;
  border: 3px solid white;
  border-radius: 20px;
  color: var(--clr-text);
  font-family: var(--ff-primary);
  font-size: 16px;
  margin-bottom: 8px;
  margin-left: 8px;
  padding: 7px 10px;
  position: absolute;
  z-index: 1;
}

.event-information {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;

  a {
    color: white;
  }

  p {
    color: white;
  }
}

.card-top-row {
  display: flex;
 }

#index-heart {
 color: red;
}
