#map {
  position: relative;
}

#page-container-index {
  height: 100%;
  width: 100%;
}

#checkout-footer {
  margin-top: auto;
}

#filter-flex {
  display: flex;
  flex-direction: row-reverse;
  padding-right: 8px;
  position: relative;
  top: 10%;
}

#venue {
  p {
    color: #FFF;
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    margin-left: 8px;
    margin-top: -4px;
    text-transform: uppercase;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 170px;
  }
}

.venue-details {
  margin-left: 8px;
  margin-top: -6px;

  .fas {
    font-size: 18px;
    margin-right: -8px;
  }

  .p {
    font-size: 30px;
  }
}

.event-card {
  background: radial-gradient(circle at top, rgba(61, 50, 76, 1.00), black, black, black 200%);
  border-radius: 6px;
  box-shadow: black 0px 15px 30px -10px;
  display: flex;
  height: 25vh;
  margin-bottom: 8px;
  margin-left: 2vw;
  position: relative;
  width: 96vw;
  z-index: 99999;

  a {
    color: #FFF;
    text-decoration: none;
  }

  button {
    margin: 0;
    padding: 0;
  }

  h2 {
    color: #FFF;
    font-family: oswald, sans-serif;
    font-size: 40px;
    margin-left: 8px;
    margin-top: -70px;
    text-transform: uppercase;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 120px;
    padding-bottom: 4px;
  }

  img {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    height: 25vh;
    object-fit: cover;
    width: 165px;
  }

  p {
    color: #FFF;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    padding-bottom: 6px;
  }

  span {
    color: #FFF;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
  }

  .event {
    display: flex;
    align-items: flex-start;
  } 

  .far {
    margin: 0;
    padding-right: 8px;
    padding-top: 8px;
  }

  .fas {
    color: rgba(254, 103, 87, 1.00);
    margin: 0;
    padding-right: 8px;
    padding-top: 8px;
  }

  #heart {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
  }
}

.event-card-container {
  align-items: center;
  top: 62vh;
  display: flex;
  height: 30vh;
  overflow-x: scroll;
  overflow-y: hidden;
  position: relative;
  z-index: 99999;
}

.event-price {
  background-color: black;
  bottom: 0px;
  border: 3px solid rgba(254, 103, 87, 1.00);
  border-radius: 20px;
  filter:drop-shadow(1px 1px 8px black);
  font-size: 16px;
  margin-bottom: 8px;
  margin-left: 8px;
  max-width: 100%;
  padding: 7px 10px;
  position: absolute;
  // z-index: 1;
}

.event-timer {
  margin-bottom: 4px;
  margin-left: 8px;
}

.event-information {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;

  a {
    color: #FFF;
  }
}

#index-heart {
  color: red;
  font-size: 24px;
}