#page-container-favourites {
  background-image: linear-gradient(to left bottom, #ffdb56, #ffb54b, #ff904d, #ff6a56, #fa4f60, #f1326c, #e20a7a, #c90082, #ad0088, #8e018c, #6b118d);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#checkout-footer {
  bottom: 0;
  position: fixed;
  width: 100vw;
}

.favourite-card {
  align-items: center;
  border-radius: 6px;
  display: flex;
  filter: drop-shadow(0 15px 1rem rgba(15, 15, 15, 0.65));
  background: radial-gradient(circle at top, rgba(61, 50, 76, 1.00), black, black, black 100%);
  width: 90vw;
  height: 25vh;
  margin-left: auto;
  margin-right: auto;

  a {
    color: #FFF;
    text-decoration: none;
  }

  h2 {
    color: #FFF;
    font-family: var(--ff-header);
    font-size: 17px;
    font-weight: bold;
    margin: 0;
    padding-left: 8px;
  }

  img {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    height: 25vh;
    object-fit: cover;
    width: 150px;
  }

  p {
    color: #FFF;
    font-family: var(--ff-primary);
    font-size: 16px;
    line-height: 1.4;
    padding-left: 8px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}

.favourites-card-container {
  padding: 10px;

  .event-card {
    margin: 10px;
  }

  #icon-heart {
    color: purple;
  }

  .delete-favourite {
    border-style: solid;
    border-color: purple;
    padding: 4px;
    border-radius: 5px;
    color: purple;
    text-align: center;
    margin: 0px 10px;
  }
}
