#page-container-favourites {
  background-image: linear-gradient(to left bottom, #ffdb56, #ffb54b, #ff904d, #ff6a56, #fa4f60, #f1326c, #e20a7a, #c90082, #ad0088, #8e018c, #6b118d);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#checkout-footer {
  bottom: 0;
  position: fixed;
  width: 100vw;
}

.favourites-card-container {
  padding: 10px;

  .event-card {
    margin: 10px;
  }

  #icon-heart {
    color: purple;
  }

  .delete-favourite {
    border-style: solid;
    border-color: purple;
    padding: 4px;
    border-radius: 5px;
    color: purple;
    text-align: center;
    margin: 0px 10px;
  }
}
