#page-container-favourites {
  background-image: linear-gradient(to left bottom, #ffdb56, #ffb54b, #ff904d, #ff6a56, #fa4f60, #f1326c, #e20a7a, #c90082, #ad0088, #8e018c, #6b118d);
  display: flex;
  flex-direction: column;
  margin-bottom: 7vh;
  min-height: 100vh;
}

#checkout-footer {
  bottom: 0;
  position: fixed;
  width: 100vw;
}

.order-header {
  h2 {
    color: black;
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    text-transform: uppercase;
  }
}

.favourite-card {
  background: radial-gradient(circle at top, rgba(61, 50, 76, 1.00), black, black, black 200%);
  border-radius: 6px;
  box-shadow: black 0px 15px 30px -10px;
  display: flex;
  height: 25vh;
  margin-bottom: 16px;
  margin-left: 2vw;
  position: relative;
  width: 96vw;

  h2 {
    color: #FFF;
    font-family: oswald, sans-serif;
    font-size: 40px;
    margin-left: 8px;
    margin-top: -120px;
    text-transform: uppercase;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 120px;
  }

  img {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    height: 25vh;
    object-fit: cover;
    width: 165px;
  }

  p {
    color: #FFF;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    padding-bottom: 6px;
  }

  span {
    color: #FFF;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    padding-bottom: 6px;
  }

  .event-timer {
    margin-top: 30px;
  }

  .fas {
    color: rgba(254, 103, 87, 1.00);
    padding-right: 6px;
  }

  #heart {
    display: flex;
    flex-direction: row-reverse;
    padding-right: 8px;
    padding-top: 8px;
  }

  #icon-heart {
    color: red;
    font-size: 24px;
  }

  .venue-details {
    margin-top: -8px;
  }
}
