html, body {
  margin: 0; 
  padding: 0; 
  overflow-x:hidden;
}

header {
  margin-left: 8px;
}

.home-container {
  height: 100%;
  max-width: 100%;
  width: 100vw;
}

#top-container {
  background-size: cover;
  background-image: linear-gradient(141.11deg, #000000 -0.95%, rgba(0, 0, 0, 0) 49.65%), url(https://res.cloudinary.com/markcarson121/image/upload/v1622143414/noiseporn-JNuKyKXLh8U-unsplash_cy4jyr.jpg);
  background-position: 48% 50%;
  background-repeat: no-repeat;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  height: calc(var(--vh, 1vh) * 93);;
  // max-width: 320px;
  max-width: 100%;
  min-width: 320px;
  overflow: hidden;
  position: relative;

  h1 {
    color: var(--clr-logo);
    font-family: 'Righteous', cursive;
    font-size: 64px;
    padding-bottom: 4px;
    padding-top: 8px;
  }

  h2 {
    font-family: 'Oswald', sans-serif;
    // text-transform: uppercase;
    font-size: 20px;
    lettr-spacing: 1px;
  }
}

#bottom-container {
  background-color: rgba(248, 248, 248, 1.00);
  min-height: calc(var(--vh, 1vh) * 33);
  max-width: 100%;
  min-width: 100vw;
  margin-bottom: calc(var(--vh, 1vh) * 7);
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 48px;
  padding-bottom: 64px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;

  h2 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
  }

  h3 {
    font-family: 'Oswald', sans-serif;
    // text-transform: uppercase;
    font-size: 20px;
    // width: 80vw;
    padding-top: 8px;
  }

  p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    padding-top: 2px;
    // width: 75vw;
  }

  #action {
    // justify-content: center;
    padding-top: 10px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .fas {
    font-size: 50px;      
    background:-moz-linear-gradient(to left bottom, #ffdb56, #ffb54b, #ff904d, #ff6a56, #fa4f60, #f1326c, #e20a7a, #c90082, #ad0088, #8e018c, #6b118d); 
    background: -webkit-linear-gradient(to left bottom, #ffdb56, #ffb54b, #ff904d, #ff6a56, #fa4f60, #f1326c, #e20a7a, #c90082, #ad0088, #8e018c, #6b118d); 
    background: linear-gradient(to left bottom, #ffdb56, #ffb54b, #ff904d, #ff6a56, #fa4f60, #f1326c, #e20a7a, #c90082, #ad0088, #8e018c, #6b118d);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color:transparent;
    margin-left: auto;
    margin-right: auto;
  }

  .icon {

    width: 20%;
  }

  .text {

    width: 80%;
  }
}

#bottom-header {
  margin-bottom: 32px;
}

section {
  p {
    color: var(--clr-text);
    font-size: var(--f-size-header);
    color: white;
  }
}

// #text-bottom {
//   bottom: 4rem;
//   position: absolute;
//   text-align: center;
//   width: 100%;
// }

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p {
  margin:0
}

// clock
.wrap {
  width: 10vw;
  height: calc(var(--vh, 1vh) * 10);
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock {
  position: relative;
  max-width: 400px;
  width: 100%;
  transform: scale(-1);

  &:after {
    content: '';
    display: block;
    padding-top: 100%;
  }
}

.clock-inner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  border-radius: 50%;
  border: 2px solid white;

  .clock-center {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFF;
  }

  .hand {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: calc(50% - 10%);
    height: 2px;
    background-color: #FFF;
    transform-origin: left center;
    border-radius: 999px;
    transform: translateY(-50%);

  }

  &.second {
    opacity: 0.5;
    height: 3px;
    transform: translateY(-50%) rotate(-180deg);
    transition: 0.1s ease-out;
  }

  &.minute {
    transform: translateY(-50%) rotate(-90deg);
    transition: 0.4s ease-out;
  }

  &.hour {
    transform: translateY(-50%) rotate(45deg);
    width: calc(50% - 80px);
    transition: 0.4s ease-out;
  }
}

.typewriter h2 {
  color: var(--clr-text);
  font-size: var(--f-size-header);
  margin-left: 2px;
  margin-top: -8px;
  overflow: hidden;
  border-right: .15em solid var(--clr-logo);
  white-space: nowrap;
  animation: 
    typing 8s steps(40, end),
    blink-caret .75s step-end infinite;
    animation-iteration-count: infinite;
}

@keyframes typing {
  0% {
    width: 0; 
  }

  50% {
    width: 54%;
  }

  100% {
    width: 54%;
  }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white; }
}