html, body {
  margin: 0; 
  padding: 0; 
  overflow-x:hidden;
}

header {
  margin-left: 8px;
}

.home-container {
  height: 100%;
  max-width: 100%;
  width: 100vw;
}

#top-container {
  background-size: cover;
  background-image: linear-gradient(141.11deg, var(--clr-black) -0.95%, rgba(0, 0, 0, 0) 49.65%), url(https://res.cloudinary.com/markcarson121/image/upload/v1622143414/noiseporn-JNuKyKXLh8U-unsplash_cy4jyr.jpg);
  background-position: 48% 50%;
  background-repeat: no-repeat;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  height: calc(var(--vh, 1vh) * 93);;
  max-width: 100%;
  min-width: 320px;
  overflow: hidden;
  position: relative;

  h1 {
    color: var(--clr-logo);
    font-family: var(--ff-logo);
    font-size: 64px;
    padding-bottom: 4px;
    padding-top: 8px;
  }

  h2 {
    color: var(--clr-white);
    font-family: var(--ff-header);
    font-size: 20px;
    letter-spacing: 1px;
  }
}

#bottom-container {
  background-color: var(--clr-white);
  min-height: calc(var(--vh, 1vh) * 33);
  max-width: 100%;
  min-width: 100vw;
  margin-bottom: calc(var(--vh, 1vh) * 7);
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 48px;
  padding-bottom: 64px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;

  h2 {
    font-family: var(--ff-header);
    text-transform: uppercase;
  }

  h3 {
    font-family: var(--ff-header);
    font-size: 20px;
    padding-top: 8px;
  }

  p {
    font-family: var(--ff-primary);
    font-size: 16px;
    padding-top: 2px;
  }

  #action {
    padding-top: 10px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .fas {
    font-size: 50px;      
    background:-moz-linear-gradient(to left bottom, var(--clr-gradient)); 
    background: -webkit-linear-gradient(to left bottom, var(--clr-gradient)); 
    background: linear-gradient(to left bottom, var(--clr-gradient));
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color:transparent;
    margin-left: auto;
    margin-right: auto;
  }

  .icon {
    width: 20%;
  }

  .text {
    width: 80%;
  }
}

#bottom-header {
  margin-bottom: 32px;
}

section {
  p {
    color: var(--clr-text);
    font-size: var(--f-size-header);
    color: var(--clr-white);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p {
  margin:0
}

