// Specific CSS for your home-page
.banner {
  background-size: cover;
  background-position: center;
  padding: 41px 0;
  height: 100vh;
  position: relative;
  text-align: center;
}

.bottom-text {
  position: absolute;
  bottom: 0px;
  padding: 23px;
  text-align: center;
  P {
    color: white;
  }
}

h1 {
  color: white;
}

h2 {
  color: white;
}