.typewriter h2 {
  color: var(--clr-text);
  font-size: var(--f-size-header);
  margin-left: 2px;
  margin-top: -8px;
  overflow: hidden;
  border-right: .15em solid var(--clr-logo);
  white-space: nowrap;
  animation: 
    typing 8s steps(40, end),
    blink-caret .75s step-end infinite;
    animation-iteration-count: infinite;
}

@keyframes typing {
  0% {
    width: 0; 
  }

  50% {
    width: 100%;
  }

  100% {
    width: 100%;
  }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white; }
}

header {
  margin-left: 8px;
}

.home-container {
  background-attachment: fixed;
  background-size: cover;
  background-image: linear-gradient(141.11deg, #000000 -0.95%, rgba(0, 0, 0, 0) 49.65%), url(https://res.cloudinary.com/markcarson121/image/upload/v1622143414/noiseporn-JNuKyKXLh8U-unsplash_cy4jyr.jpg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  height: 100vh;
  max-width: 320px;
  min-width: 320px;
  overflow: hidden;
  position: relative;

  h1 {
  color: var(--clr-logo);
  font-family: var(--ff-logo);
  font-size: var(--f-size-logo);
  padding-top: 50px;
}
}

section {
  p {
    color: var(--clr-text);
    font-size: var(--f-size-header);
    color: white;
  }
}

// #text-bottom {
//   bottom: 4rem;
//   position: absolute;
//   text-align: center;
//   width: 100%;
// }

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p {
  margin:0
}
