h1 {
  color: var(--clr-logo);
  font-family: var(--ff-logo);
  font-size: var(--f-size-logo);
  padding-top: 50px;
}

header {
  margin-left: 16px;

  p {
    color: var(--clr-text);
    font-size: var(--f-size-header);
    margin-left: 4px;
    margin-top: -12px;
    color: white;
  }
}

.home-container {
  background-attachment: fixed;
  background-size: cover;
  background-image: linear-gradient(141.11deg, #000000 -0.95%, rgba(0, 0, 0, 0) 49.65%), url(https://res.cloudinary.com/markcarson121/image/upload/v1622143414/noiseporn-JNuKyKXLh8U-unsplash_cy4jyr.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
}

p {
  color: var(--clr-text);
  font-family: var(--ff-primary);
}

section {
  p {
    color: var(--clr-text);
    font-size: var(--f-size-header);
    color: white;
  }
}

#text-bottom {
  bottom: 4rem;
  position: absolute;
  text-align: center;
  width: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p {
  margin:0
}












// Specific CSS for your home-page
// .banner {
//   background-size: cover;
//   background-position: center;
//   padding: 41px 0;
//   height: 100vh;
//   position: relative;
//   text-align: center;
// }

// .bottom-text {
//   position: absolute;
//   bottom: 0px;
//   padding: 23px;
//   text-align: center;
//   P {
//     color: white;
//   }
// }

// h1 {
//   color: white;
// }

// h2 {
//   color: white;
// }

// .or {
//   position: absolute; 
//   top: 244px;
//   right: 165px;

//   h2 {
//     font-size: 54px;
//   }
// }

// .find-me {
//   position: absolute;
//   top: 368px;
//   right: 155px;
// }