.log-out-orders {
    text-align: center;
    text-decoration: none;
    background-color: #E6E6E6;  
    margin: auto ;
    margin-bottom: 5px;
    padding: 4px;
    border-radius: 8px;
    width: 90%;

    a {
      color: var(--clr-primary);
      font-family: var(--ff-primary);
      font-size: 10px;   
    }
}

.my-orders-container {
  background: var(--clr-card-bg);
  border-radius: 8px;
  padding: 12px;
  margin: 10px auto;
  width: 90%;
  text-align: center;

  h2 {
    font-family: var(--ff-header);
    margin-left: 18px;
  }

  a {
    text-decoration: none;
    border-radius: 20px;
    color: var(--clr-primary);
    font-family: var(--ff-primary);
    font-size: 16px;
    padding: 7px 10px;

  }

  a:active {
      background-color: white;
      border: 3px solid var(--clr-primary);
      color:var(--clr-primary);
    }

  p {
    color: var(--clr-card-text);
    font-family: var(--ff-primary);
    font-size: 16px;
    line-height: 1.4;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}

.order-profile-picture {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.profile-picture {
  display: flex;
  justify-content: center;
}



.order-bookings {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;

}

.order-header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;

  h2 {
    font-weight: bold;
  }
}

.order-back {
  left: 5px;
  position: absolute;
}

.title-card-break {
    margin-top: 4px;
    width: 90%;
  
  }

.back-btn{
  color: var(--clr-primary);
  font-size: 24px;

}