.review-show-container {
  border-radius: 8px;
  margin: 10px auto;
  width: 90%;

  
  label {
  color: purple;
  }

  input {
    margin: 0px;
    
  }

  a:active {
      background-color: white;
      border: 3px solid var(--clr-primary);
      color:var(--clr-primary);
    }


  h2 {
    font-family: var(--ff-header);
    font-weight: bold;
    margin: 4px;
  }

  p {
    color: var(--clr-card-text);
    font-family: var(--ff-primary);
    font-size: 16px;
    line-height: 1.4;
    padding-left: 8px;
    margin: 4px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}

.submit-btn {
  border-style: solid;
  border-width: 2px;
  background-color: purple;
  border-color: white;
  padding: 10px;
  border-radius: 8px;
  margin: 25px 34px;
  text-align: center;
  color: white;
  text-decoration: none;
}

