.review-show-container {
  text-align: center;
  padding: 5px;

  h1 {
    color: black;
    margin: 10px;
  }
  
  label {
  color: purple;
  }

}

.submit-btn {
  border-style: solid;
  border-width: 2px;
  background-color: purple;
  border-color: white;
  padding: 10px;
  border-radius: 8px;
  margin: 25px 34px;
  text-align: center;
  color: white;
  text-decoration: none;

}

