#page-container-confirmation {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#checkout-footer {
  margin-top: auto;
}

.orders-show-container {
  text-align: center;

  h1 {
    color: black;
    margin: 10px;
  }
}

.directions-btn {
  border-style: solid;
  border-width: 2px;
  background-color: purple;
  border-color: white;
  padding: 10px;
  border-radius: 8px;
  margin: 25px 34px;
  text-align: center;
  
  p {
    color: white;
    text-decoration: none;
  }

  a {
    color: white;
    text-decoration: none;
  }
}
