#page-container {
  background-image: linear-gradient(to left bottom, #ffdb56, #ffb54b, #ff904d, #ff6a56, #fa4f60, #f1326c, #e20a7a, #c90082, #ad0088, #8e018c, #6b118d);
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

#checkout-footer {
  margin-top: auto;
}

.confirmation-card {
  align-items: center;
  border-radius: 6px;
  filter: drop-shadow(0 15px 1rem rgba(15, 15, 15, 0.65));
  background: radial-gradient(circle at top, rgba(61, 50, 76, 1.00), black, black, black 100%);
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  h1 {
    color: #FFF;
  }

  h2 {
    color: #FFF;
  }

  li {
    color: #FFF;
  }
}

#directions-container {
  display: none;
}

.directions-btn {
  background-color: rgba(61, 60, 238, 1.00);
  box-shadow: 0 0.2px 0.3rem rgba(61, 60, 238, 1.00);
  color: #FFF;
  margin-bottom: 8px;
  width: 50%;
}
