.confirmation-card {
  background: radial-gradient(circle at top, rgba(61, 50, 76, 1.00), black, black, black 100%);
  border-radius: 6px;
  display: flex;
  filter: drop-shadow(0 15px 1rem rgba(15, 15, 15, 0.65));
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  width: 90vw;

  // a {
  //   color: #FFF;
  //   font: 400 13.3333px Arial;
  // }

  h1 {
    color: #FFF;
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    text-transform: uppercase;
  }

  h2 {
    color: #FFF;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
  }

  img {
    border-radius: 6px;
    height: 110px;
    width: 190px;
  }

  p {
    color: #FFF;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
  }

  .btn {
    background-color: #3d3cee;
    box-shadow: 0 0.2px 0.3rem #3d3cee;
    font: 400 13.3333px Arial;
    color: #FFF;
    margin-top: -16px;
    margin-bottom: 8px;
  }
}

.confirmation-container {
  background-image: linear-gradient(to left bottom, #ffdb56, #ffb54b, #ff904d, #ff6a56, #fa4f60, #f1326c, #e20a7a, #c90082, #ad0088, #8e018c, #6b118d);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -4vh;
  min-height: 100vh;
}

.confirmation-details {
  display: flex;
  flex-direction: column;
  text-align: center;
}


#directions-container {
  display: none;
}

#checkout-footer {
  margin-top: auto;
}
