.confirmation-card {
  background: radial-gradient(circle at top, rgba(61, 50, 76, 1.00), black, black, black 100%);
  border-radius: 6px;
  display: flex;
  filter: drop-shadow(0 15px 1rem rgba(15, 15, 15, 0.65));
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  margin-bottom: 100px;
  padding-top: 10px;
  padding-bottom: 32px;
  width: 90vw;


  // a {
  //   color: #FFF;
  //   font: 400 13.3333px Arial;
  // }

  h1 {
    color: #FFF;
    font-family: 'Oswald', sans-serif;
    font-size: 32px;
    text-transform: uppercase;
    margin-top: 4px;
  }

  h2 {
    color: #FFF;
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    padding-bottom: 12px;
    text-transform: uppercase;
  }

  img {
    background-color: black;
    border-radius: 6px;
    height: 110px;
    width: 190px;
  }

  button {
    margin-left: auto;
    margin-right: auto;
    width: 287.33px;
    margin-bottom: 8px;
    margin-top: 8px;
  }

  .far {
    font-size: 2.2rem;
    color: rgba(255, 0, 0, 1.00);
    display: inline-block;
    cursor: pointer;
    text-shadow: 0 0 0.05em rgba(255, 255, 255, 0.5), 0 0 0.45em rgba(255, 0, 0, 1.00);
    position: relative;
    margin-top: 8px;
    margin-bottom: 12px;
  }

  .success {
    color: rgba(27, 215, 96, 1.00);
    text-shadow: 0 0 0.05em rgba(255, 255, 255, 0.5), 0 0 0.45em rgba(27, 215, 96, 1.00);
  }

  .neon-button::before {
    transform: none;
    filter: none;
    opacity: 0.7;
    height: 0%;
    width: 0%;
  }

  .pulse {
    transform: translate (-50%, -50%) scale (.9);
    animation: pulse 1s linear infinite;
  }

  @keyframes pulse {
    0% {
      box-shadow: 0 0 2.5px rgba(37, 160, 245, 0.5);
    }
    50% {
      box-shadow: 0 0 0 6px rgba(37, 160, 245, 0.25);
    }
    100% {
      box-shadow: 0 0 2.5px rgba(37, 160, 245, 0.5);
    }
  }
}

.confirmation-container {
  background-image: linear-gradient(to left bottom, #ffdb56, #ffb54b, #ff904d, #ff6a56, #fa4f60, #f1326c, #e20a7a, #c90082, #ad0088, #8e018c, #6b118d);
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.confirmation-details {
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;

   p {
    color: #FFF;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
  }
}

#checkout-footer {
  bottom: 0;
  position: fixed;
  width: 100vw;
  box-shadow: none;
}

#directions-container {
  margin-top: 8px;
  margin-bottom: 8px;
}

#map-directions {
  border-radius: 6px;
}

#destination {
  padding-top: 12px;
}

#order-info {
  padding-bottom: 8px;
}

