#back-arrow {
  margin-top: 8px;
  position: fixed;
  top: 0;
  z-index: 1;
}

#checkout-container {
  background-image: linear-gradient(to left bottom, var(--clr-gradient));  
  min-height: 100vh;
  display: flex;
  align-items: center;
}

#checkout-info {
  align-items: center;
  justify-content: center;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;

  h1 {
    font-size: 24px;
    margin-top: 32px;
  }

  img {
    margin-top: 32px;
  }
}

#checkout-window {
  // align-items: center;
  border-radius: 6px;
  display: flex;
  filter: drop-shadow(0 15px 1rem rgba(15, 15, 15, 0.65));
  background: radial-gradient(circle at top, var(--clr-purple), var(--clr-black), var(--clr-black), var(--clr-black) 100%);
  width: 90vw;
  height: 60%;
  margin-left: auto;
  margin-right: auto;
  // margin-top: 30%;
  // margin-bottom: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 17%;
  bottom: 0;
  // text-align: center;

  img {
    background-color: var(--clr-white);
    border-radius: 6px;
    height: 110px;
    width: 190px;
  }

  h1,
  p {
    color: var(--clr-white);
    font-family: var(--ff-header);
    text-transform: uppercase;
  }

  h1 {
    font-size: 24px;
    padding-top: 10px;
  }

  p {
    padding-top: 16px;
    font-size: 16px;
    margin-top: 16px;
  }

  .fas {
    color: var(--clr-purple);
    font-size: 24px;
    margin-left: 8px;
    align-items: flex-start;
    z-index: 1;
  }

  .neon-button {
    margin-top: 50px;
    width: 190px;
  }

  .neon-button::before {
    transform: none;
    filter: none;
    opacity: 0.7;
    height: 0%;
    width: 0%;
  }
}
