#page-container-checkout {
  background-image: linear-gradient(to left bottom, #ffdb56, #ffb54b, #ff904d, #ff6a56, #fa4f60, #f1326c, #e20a7a, #c90082, #ad0088, #8e018c, #6b118d);  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#checkout-footer {
  margin-top: auto;
}

#checkout-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
}

#checkout-window {
  align-items: center;
  border-radius: 6px;
  display: flex;
  filter: drop-shadow(0 15px 1rem rgba(15, 15, 15, 0.65));
  background: radial-gradient(circle at top, rgba(61, 50, 76, 1.00), black, black, black 100%);
  width: 90vw;
  height: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: 130px;

  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;

  img {
    background-color: white;
    border-radius: 6px;
    height: 110px;
    width: 190px;
  }

  h1 {
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    padding-top: 10px;
  }

  p {
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 12px;
  }

  .fas {
    color: #FFF;
    filter:drop-shadow(inset 0px 1px 2px black);
    font-size: 36px;
    margin-left: 8px;
    position: fixed;
    z-index: 1;
  }

  .fas:hover {
    color: rgba(61, 60, 238, 1.00);
  }

  .btn {
    background-color: rgba(61, 60, 238, 1.00);
    box-shadow: 0 0.2px 0.3rem rgba(61, 60, 238, 1.00);
    color: #FFF;
    margin-top: -16px;
    margin-bottom: 8px;
  }
}
