// page container
#page-container-show {
  background-color: white;
  display: flex;
  flex-direction: column;
  margin-bottom: 17vh;
  min-height: 100vh;
}

// countdown
#clockdiv{
  color: var(--clr-text);
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  font-size: 16px;
  background-color: black;
}

// after-countdown
.past-event {
  color: var(--clr-text);
  justify-content: center;
  margin: auto;
}

// add to favourites
.show-favorites {
  background-color: white;
  display: flex;
  justify-content: flex-end;
}

// show content
.content {
  h1 {
    color: black;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
  }

  h2 {
    color: black;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
  }

  h3 {
    color: black;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
  }

  i {
    color: rgba(254, 103, 87, 1.00);
  }

  p {
    color: black;
    font-size: 16px;
  }
  
  background-image: linear-gradient(to left bottom, #ffdb56, #ffb54b, #ff904d, #ff6a56, #fa4f60, #f1326c, #e20a7a, #c90082, #ad0088, #8e018c, #6b118d);
  display: flex;
  flex-direction: column;
}

// review section
.review-container {
  align-items: center;
  background: radial-gradient(circle at top, #3d324c, black, black, black 100%);  border-radius: 8px;
  background-attachment: fixed;
  display: flex;
  filter: drop-shadow(0 15px 1rem rgba(15, 15, 15, 0.65));
  flex-direction: column;
  justify-content: center;
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 16px;
  width: 90vw;

  h3 {
    color: white;
    font-size: 24px;
    position: flex-start;
    text-transform: uppercase;
  }
}

.review-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 8px;
  padding-top: 8px;
  
  p {
    color: #FFF;
  }
}

.hide {
  display: none;
}

// footer 
#checkout-footer {
  bottom: 0;
  position: fixed;
  width: 100vw;
  box-shadow: none;
}

// full description javascript
.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

#see-more {
  color: rgba(254, 103, 87, 1.00);
}
