p {
  color: var(--clr-card-text);
  font-size: 14px; 
}

.show-container {
  h2 {
    font-weight: bold;
  }
}

#clockdiv{
  color: var(--clr-text);
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  font-size: 12px;
  background-color: var(--clr-primary);
  font-weight: bold;

  h2 {
    font-size: 12px;
    align-items: center;
    margin: auto;
    margin-right: 0px;
    margin-left: 0px;
  }
}

#event-countdown {
  text-align: center;
}

.past-event {
  color: var(--clr-text);
  justify-content: center;
  margin: auto;
}

.rating-container {
  display:flex;

}

.show-header {
  display: flex;

  i {
    color: var(--clr-primary);
    font-size: 12px;
  }
}

.star {
  color: gold;
}

.review-container {
   h2 {
    margin-top: 5px;
    font-size: 25px;
  }
}

.review-content {
  span {
  font-size: 12px;
  font-style: italic;
}
}
