#page-container-show,
#clockdiv {
  background-color: var(--clr-black);
}

#clockdiv,
.past-event {
  color: var(--clr-white);
}

// page container
#page-container-show {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

// countdown
.flex {
  display: flex;
  justify-content: center;

  .minutes,
  .seconds {
    width: 20px;
  }
}

#clockdiv {
  font-size: 16px;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -2px;
}

// after-countdown
.past-event {
  justify-content: space-around;
  margin: auto;
}

// add to favourites
.show-favorites {
  background-color: var(--clr-white);
  display: flex;
  height: 1.6rem;
  justify-content: flex-end;
  max-width: 100%;

  p {
    color: var(--clr-black) !important;
  }

  .fab {
    bottom: 8px;
    font-size: 2.5rem;
    position: relative;
    z-index: 1;
  }

  .fas {
    margin-top: 1px;
    position: relative;
    font-size: 1.4rem;
  }

  button:focus {
    .fas {
      transform: scale( 1.25 );
    }

    animation: heartbeat 1s infinite;
  }

  @keyframes heartbeat {
    0% {
      transform: scale( .75 );
    }
    20% {
      transform: scale( 1 );
    }
    40% {
      transform: scale( .75 );
    }
    60% {
      transform: scale( 1 );
    }
    80% {
      transform: scale( .75 );
    }
    100% {
      transform: scale( .75 );
    }
  } 
}

// show content
.show-details {
  background: radial-gradient(circle at 50%, #3d324c, var(--clr-black), var(--clr-black), var(--clr-black) 200%);
  background-attachment: fixed;
  background-size: cover;
  padding-bottom: 27vh;
  padding-left: 10px;
  padding-top: 6px;
  padding-right: 10px;
  width: 100vw;
  height: 100%;

  button {
    margin-left: -5px;
  }
}

.rating-container {
  span {
    color: var(--clr-white);
    font-family: var(--ff-primary);
  }

  .fas {
    color: var(--clr-orange);
    font-size: 16px;
    margin: 0;
  }
}

#push {
  margin-top: -28px;
}

.content {
  h1,
  h2,
  h3 {
    color: var(--clr-white);
    font-family: var(--ff-header);
    text-transform: uppercase;
  }

  h1 {
    margin-top: -2px;
  }

  h2 {
    font-size: 24px;
    padding-bottom: 8px;
  }

  h3 {
    font-size: 20px;
    padding-bottom: 4px;
    padding-top: 6px;
  }

  i {
    color: var(--clr-orange);
  }

  p {
    color: var(--clr-white);
    font-family: var(--ff-primary);
    font-size: 16px;
  }
  
  background-image: linear-gradient(to left bottom, var(--clr-gradient));
  display: flex;
  flex-direction: column;
}

#colour {
  width: 100px;
  height: 4rem;
  position: relative;
  z-index: 9999;
  padding-top: 18px;
  margin-top: -16px;
  padding-bottom: 18px;

  p {
    color: var(--clr-orange);
    font-size: 12px;
  }
}

// review section

#reveal-info {
  p {
    color: var(--clr-white);
    font-family: var(--ff-primary);
    font-size: 12px;
  }
}

.review-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 16px;
  width: 100%;

  h3 {
    color: var(--clr-white);
    font-size: 20px;
    text-transform: uppercase;
  }

  .fas {
    color: var(--clr-orange);
    font-size: 16px;
    margin: 0;
  }

  .far {
    background-color: transparent;
    font-family: var(--ff-primary);
    font-size: 1rem;
    color: var(--clr-blue);
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    border: var(--clr-blue) 0.125em solid;
    padding: .25em 1.25em;
    border-radius: 0.25em;
    text-transform: uppercase;
    text-shadow: 0 0 0.125em rgba(255, 255, 255, 0.5), 0 0 0.45em var(--clr-blue);
    box-shadow: inset 0 0 0.5em 0 var(--clr-blue), 0 0 0.5em 0 var(--clr-blue);
    position: relative;
    height: 3rem;
  }
}

.review-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-top: 8px;
  
  p {
    color: var(--clr-white);
    overflow: auto;
  }
}

.hide {
  display: none;
}

// full description javascript
.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

#see-more {
  color: var(--clr-orange);
}
