
p {
  font-size: 14px;
}

.show-container {
  padding: 20px;
  h2 {
    color: black;
    font-size: 22px !important;
  }
}

.show-stars {
  display:flex;
p {
  margin-left: 5px;
}
.rating {
  margin-left: 0px;
  margin-right: 5px;

}
}

.star {
  color: gold;
}

.ratings {
  display: flex;
  align-items: center;
  i {
    padding-left: 5px;
  }
}

.reviews {
  justify-content: space-between;

  p {
    margin: 5px ;
    font-size: 12px;
    font-style: italic;
  }
  }

  .avatar-bordered {
    height: 34px;
  }

.event-divider {
  border-top: 1px solid $content-color ;
}

.show-time-badge {
  text-align: center;
}

.past-event {
  color: white;
  justify-content: center;
  margin: auto;
}

#clockdiv{
  color: #fff;
  display: flex;
  justify-content: space-evenly;
  font-weight: 100;
  text-align: center;
  font-size: 30px;
  font-weight: 100;
  font-size: 14px;
  background-color: $content-color;

  h2 {
    font-size: 12px;
    align-items: center;
    margin: auto;
    margin-right: 0px;
    margin-left: 0px;
  }
}


