p {
  color: var(--clr-card-text);
  font-size: 14px; 
}

.avatar-bordered {
  // height: 34px;
}

#clockdiv{
  color: var(--clr-text);
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  font-size: 12px;
  background-color: var(--clr-primary);

  h2 {
    font-size: 12px;
    align-items: center;
    margin: auto;
    margin-right: 0px;
    margin-left: 0px;
  }
}

#event-countdown {
  text-align: center;
}

.past-event {
  color: var(--clr-text);
  justify-content: center;
  margin: auto;
}

.rating-container {
  display:flex;
}

.show-header {
  display: flex;

  i {
    color: var(--clr-primary);
    font-size: 12px;
  }
}

.star {
  color: gold;
}
