// page container
#page-container-show {
  background-color: white;
  display: flex;
  flex-direction: column;
  margin-bottom: 17vh;
  min-height: 100vh;
}

// countdown
#clockdiv{
  color: var(--clr-text);
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  font-size: 12px;
  background-color: var(--clr-primary);
}

// after-countdown
.past-event {
  color: var(--clr-text);
  justify-content: center;
  margin: auto;
}

// add to favourites
.show-favorites {
  display: flex;
}

// content
.content {
  i {
    color: black;
  }
}

// full description javascript
.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

// review section
.review-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.review-card {
  background-color: lightblue;
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
  min-width: 128px;
  padding-bottom: 4px;
  padding-top: 8px;
  width: auto;
}

.hide {
  display: none;
}

// footer 
#checkout-footer {
  bottom: 0;
  position: fixed;
  width: 100vw;
  box-shadow: none;
}
