// page container
#page-container-show {
  background-color: white;
  display: flex;
  flex-direction: column;
  margin-bottom: 17vh;
  min-height: 100vh;
}

// countdown
.flex {
  display: flex;
  justify-content: center;

  .minutes {
    width: 20px;
  }

  .seconds {
    width: 20px;
  }
}

#clockdiv{
  background-color: black;
  color: var(--clr-text);
  font-size: 16px;
  height: 5vh;
  padding-top: 2px;
}

// after-countdown
.past-event {
  color: var(--clr-text);
  justify-content: space-around;
  margin: auto;
}

// add to favourites
.show-favorites {
  background-color: #FFF;
  display: flex;
  height: 1.6rem;
  justify-content: flex-end;

  p {
    color: black !important;
  }

  .fab {
    bottom: 8px;
    font-size: 2.5rem;
    position: relative;
    z-index: 1;
  }
}

// show content
.show-details {
  background: radial-gradient(circle at 50%, #3d324c, black, black, black 200%);
  background-attachment: fixed;
  padding-bottom: 8px;
  padding-left: 10px;
  padding-top: 6px;
  padding-right: 10px;
  width: 100vw;

  button {
    margin-left: -5px;
  }
}

.rating-container {
  span {
    color: #FFF;
    font-family: 'Source Sans Pro', sans-serif;
  }

  .fas {
    color: rgba(254, 103, 87, 1.00);
    font-size: 16px;
    margin: 0;
  }
}

.content {
  h1 {
    color: #FFF;
    font-family: 'Oswald', sans-serif;
    margin-top: -2px;
    text-transform: uppercase;
  }

  h2 {
    color: #FFF;
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    padding-bottom: 8px;
    text-transform: uppercase;
  }

  h3 {
    color: #FFF;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    padding-bottom: 4px;
    padding-top: 6px;
    text-transform: uppercase;
  }

  i {
    color: rgba(254, 103, 87, 1.00);
  }

  p {
    color: #FFF;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
  }
  
  background-image: linear-gradient(to left bottom, #ffdb56, #ffb54b, #ff904d, #ff6a56, #fa4f60, #f1326c, #e20a7a, #c90082, #ad0088, #8e018c, #6b118d);
  display: flex;
  flex-direction: column;
}

#colour {
  p {
    color: rgba(254, 103, 87, 1.00);
    font-size: 12px;
  }
}

// review section

#reveal-info {
  color: #FFF;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12px;
  
  p {
    color: #FFF;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12px;
  }
}
.review-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 16px;
  width: 100%;

  h3 {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
  }

  .fas {
    color: rgba(254, 103, 87, 1.00);
    font-size: 16px;
    margin: 0;
  }
}

.review-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-top: 8px;
  
  p {
    color: #FFF;
    overflow: auto;
  }
}

.hide {
  display: none;
}

// footer 
#checkout-footer {
  bottom: 0;
  position: fixed;
  width: 100vw;
  box-shadow: none;
}

// full description javascript
.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

#see-more {
  color: rgba(254, 103, 87, 1.00);
}
