p {
  color: var(--clr-card-text);
  font-size: 14px;
  margin-left: 5px;

  .rating {
    margin-left: 0px;
    margin-right: 5px;
  }
}

.avatar-bordered {
  height: 34px;
}

#clockdiv{
  color: var(--clr-text);
  display: flex;
  justify-content: space-evenly;
  font-weight: 100;
  text-align: center;
  font-size: 30px;
  font-weight: 100;
  font-size: 14px;
  background-color: var(--clr-primary);

  h2 {
    font-size: 12px;
    align-items: center;
    margin: auto;
    margin-right: 0px;
    margin-left: 0px;
  }
}

#event-countdown {
  text-align: center;
}

.event-divider {
  border-top: 1px solid $content-color ;
}

.past-event {
  color: white;
  justify-content: center;
  margin: auto;
}

.rating-container {
  display:flex;
}

.show-header {
  display: flex;

  i {
    color: var(--clr-primary);
    font-size: 30px;
  }
}

.star {
  color: gold;
}
