// page container
#page-container-show {
  background-color: white;
  display: flex;
  flex-direction: column;
  margin-bottom: 17vh;
  min-height: 100vh;
}

// countdown
#clockdiv{
  color: var(--clr-text);
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  font-size: 12px;
  background-color: var(--clr-primary);
}

// after-countdown
.past-event {
  color: var(--clr-text);
  justify-content: center;
  margin: auto;
}

// add to favourites
.show-favorites {
  display: flex;
  justify-content: flex-end;
}

// show content
.content {
  h1 {
    color: black;
    font-family: oswald, sans-serif;
  }

  h2 {
    color: black;
    font-family: oswald, sans-serif;
  }

  h3 {
    color: black;
    font-family: oswald, sans-serif;
  }

  i {
    color: rgba(254, 103, 87, 1.00);
  }

  p {
    color: black;
  }

  margin-left: 8px;
}

// review section
.review-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.review-card {
  background: radial-gradient(circle at top, rgba(112, 85, 140, 1.00), black, black, black 100%);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 8px;
  min-width: 128px;
  padding-bottom: 4px;
  padding-top: 8px;
  width: auto;

  p {
    color: #FFF;
  }
}

.hide {
  display: none;
}

// footer 
#checkout-footer {
  bottom: 0;
  position: fixed;
  width: 100vw;
  box-shadow: none;
}

// full description javascript
.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

#see-more {
  color: rgba(254, 103, 87, 1.00);
}
