#forgot-password {
  bottom: 0;
  font-family: var(--ff-primary);
  font-size: 0.8rem;
  padding-bottom: 24px;
  position: absolute;

  a {
    color: var(--clr-blue);
  }
}

#remember-me {
  .form-check {
    display: flex;
    align-items: center;
    padding-top: -8px;
  }

  .form-check-input {
    // margin-left: -14px;
    margin-top: 0;
    margin-right: 6px;
    position: static;
  }

  label {
    color: var(--clr-white);
    font-family: var(--ff-primary);
    font-size: 0.8em;
  }
}

#sign-in-container {
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-image: linear-gradient(141.11deg, var(--clr-black) -0.95%, rgba(0, 0, 0, 0) 49.65%), url(https://res.cloudinary.com/markcarson121/image/upload/v1622143414/noiseporn-JNuKyKXLh8U-unsplash_cy4jyr.jpg);
  background-position: 48% 50%;
  background-repeat: no-repeat;
  height: calc(var(--vh, 1vh) * 100);;
}

#sign-in-form {
  width: 300px;
}

#sign-in-window {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 12px;
  filter: drop-shadow(0 15px 1rem black);
  height: 85%;
  padding: 16px;
  width: 90%;

  h1 {
    color: var(--clr-white);
    font-family: var(--ff-logo);
    font-size: 3.5rem;
    margin-bottom: 8px;
  }
}

#sign-up {
  bottom: 60px;
  position: absolute;

  a {
    padding-top: 9px;
    text-decoration: none;
    // width: fit-content;
  }
}

// // devise
// .sign-in-container {
//   padding: 20px;

//   h1 {
//     color: $content-color;
//   }
// }

// .form-container {
//   padding-top: 36px;
// }

// .log-in-button {
//   color: var(--clr-white);
//   font: $header-two;
//   background-color: $content-color;
//   padding: 2px 8px;
//   border-radius: 4px;
// }

// .form-actions {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
// }

// .sign-up-container {
//   margin-top: 50px;
// }

// .sign-up-btn {
//   color: $content-color;
//   font: $header-two;
//   background-color: var(--clr-white);
//   padding: 8px 8px;
//   border-width: 2px;
//   border-style: solid;
//   border-color: $content-color;
//   border-radius: 4px;
//   font-weight: bolder;
//   font-size: 15px;
// }

// .sign-up-btn:hover {
//   text-decoration: none;
//   font-weight: bolder;
//   color: $content-color;
// }

// .forgot-password-btn {
//   color: $content-color;
// }

// .forgot-password-btn:hover {
//   text-decoration: none;
//   font-weight: bolder;
//   color: $content-color;
// }

// .form-links {
//   padding-top: 20px;
// }