<!-- map marker card -->
<div>
  <%= cl_image_tag event.photos.first.key, class: "img-map-card" %> 
</div>
<h2><%= link_to event.name, event_path(event), :class => "show-link" %></h2>
<p>£<%= event.price %></p>