<div class="home-container">
  <!-- title and tagline -->
  <div id="top-container">
    <div>
      <header>
        <h1>RIGHTTIME</h1>
        <div class="typewriter">
          <h2>It's Not Too Late...</h2>
        </div>  
      </header>
    </div>

    <% session[:location] = nil %>
    <% session[:counter] = 4 %>

    <!-- search bar -->
    <div id="search-bar">
      <%= render "components/search" %>
    </div>

   <!--  <div class="wrap">
      <div class="clock">
        <div class="clock-inner">
          <div class="clock-center"></div>
          <div class="hand second"></div>
          <div class="hand minute"></div>
          <div class="hand hour"></div>
        </div>
      </div>
    </div> -->
  </div>

  <div id="bottom-container">
    <div id="bottom-header">
      <h2>All of the events near you.</h2>
      <h2>None of the fuss.</h2>
    </div>
    <div id="action" class="flex">
      <div class="icon">
        <i class="fas fa-map-marked-alt"></i>
      </div>
      <div class="text">
        <h3>Last minute events wherever you are.</h3>
        <p>Designed to find all the events starting near you so that you don't miss out</p>
      </div>
    </div>
    <div id="action" class="flex">
      <div class="icon">
        <i class="fas fa-wallet"></i>
      </div>
      <div class="text">
        <h3>The best events at discounted prices.</h3>
        <p>We make your last minute decision save you money</p>
      </div>
    </div>
  </div>
</div>

<div id="checkout-footer-footer">
  <%= render "components/footer" %>
</div>

<%= javascript_pack_tag 'clock' %>