<div class="home-container">
  <!-- title and tagline -->
  <div id="top-container">
    <div>
      <header>
        <h1>RIGHTTIME</h1>
        <div class="typewriter">
          <h2>The Clock's Ticking...</h2>
        </div>  
      </header>
    </div>

    <% session[:location] = nil %>
    <% session[:counter] = 4 %>

    <!-- search bar -->
    <div id="search-bar">
      <%= render "components/search" %>
    </div>

   <!--  <div class="wrap">
      <div class="clock">
        <div class="clock-inner">
          <div class="clock-center"></div>
          <div class="hand second"></div>
          <div class="hand minute"></div>
          <div class="hand hour"></div>
        </div>
      </div>
    </div> -->
  </div>

  <div id="bottom-container">
    <h2>All the benefits of classes. None of the limits.</h2>
    <div class="flex">
      <div>
        <p>IMAGE</p>
      </div>
      <div>
        <h3>Last minute events wherever you are.</h3>
        <p>Designed to find all the events starting near you so that you don't miss out</p>
      </div>
    </div>
    <div class="flex">
      <div>
        <p>IMAGE 2</p>
      </div>
      <div>
        <h3>The best events at discounted prices.</h3>
        <p>We make your last minute decision save you money</p>
      </div>
    </div>
  </div>

  <div id="checkout-footer">
    <%= render "components/footer" %>
  </div>
</div>

<%= javascript_pack_tag 'clock' %>