<div class="home-container">
  <!-- title and tagline -->
  <div>
    <header>
      <h1>RIGHTTIME</h1>
      <p>Where will your night take you..?</h2>
    </header>
  </div>

  <!-- search bar -->
  <div id="search-bar">
    <%= render "components/search" %>
  </div>

  <!-- app information -->
  <div id="text-bottom">
    <section>
      <p>Have a SPONTANEOUS evening</p>
      <p>Great deals for events starting soon nearby</p>
    </section>
  </div>
</div>

<style>
 .footer {
   display: none;
 }
</style>
