<div class="home-container">

  <header>
    <h1>RIGHTTIME</h1>
    <p>Where will your night take you..?</h2>
  </header>

  <%= render "components/search" %>

  <p>Or</p>
  <span id="current-location" class="fas fa-map-marker-alt"></span>
  <p>Find Me</p>
  <p>Have a SPONTANEOUS evening</p>
  <p>Great deals for events starting soon nearby</p>
  
</div>
