<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/markcarson121/image/upload/v1622143414/noiseporn-JNuKyKXLh8U-unsplash_cy4jyr.jpg);">
    <div class="container">
        <h1>RIGHTTIME</h1>
        <h2>Where will your night take you..?</h2>
    </div>
</div>
<%= render "components/search" %>
<div class="bottom-text">
  <h2>Have a SPONTANEOUS evening -</h2>
  <p>Great deals for events starting soon nearby.</p>
</div>
