<div class="page-container">
  <!-- title and tagline -->
  <div id="banner">
    <div>
      <header>
        <h1><strong>RIGHTTIME</strong></h1>
        <div>
          <h2>Discover cut-price events near you. Now.</h2>
        </div>  
      </header>
    </div>

    <% session[:location] = nil %>
    <% session[:counter] = 4 %>

    <!-- search bar -->
    <div id="search-bar">
      <%= render "components/search" %>
    </div>
  </div>

  <div id="bottom-container">
    <div id="bottom-header">
      <h2>No time to make plans?</h2>
      <h2>we've got you.</h2>
    </div>
    <div id="action">
      <div class="icon">
        <i class="fas fa-map-marked-alt"></i>
      </div>
      <div class="text">
        <h3>Discover great events near you</h3>
        <p>Find events up to a mile away</p>
      </div>
    </div>
    <div id="action">
      <div class="icon">
        <i class="fas fa-clock"></i>
      </div>
      <div class="text">
        <h3>All events due to start soon</h3>
        <p>So you don't have to plan ahead</p>
      </div>
    </div>
    <div id="action">
      <div class="icon">
        <i class="fas fa-wallet"></i>
      </div>
      <div class="text">
        <h3>Discounted tickets</h3>
        <p>Last-minute tickets get bigger discounts to fill up venues</p>
      </div>
    </div>
  </div>
</div>

<div id="checkout-footer">
  <%= render "components/footer" %>
</div>

<%= javascript_pack_tag 'screen' %>