<div class="home-container">
  <!-- title and tagline -->
  <div>
    <header>
      <h1>RIGHTTIME</h1>
      <p>The Clock's Ticking...</p>
    </header>
  </div>
  <% session[:location] = nil %>
  <!-- search bar -->
  <div id="search-bar">
    <%= render "components/search" %>
  </div>

  <!-- app information -->
  <div id="text-bottom">
    <section>
      <p>Find discounted entertainment starting near you soon.</p>
    </section>
  </div>
</div>

<style>
 .footer {
   display: none;
 }
</style>
