.booking-bar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 10vh;
  background-color: var(--clr-primary);
  position: fixed;
  bottom: 2.5em;
  width: 100%;
  color: white;

  p {
    margin-bottom: 0rem !important;
    color: white;
    font-size: 20px;
  }
}

.booking-btn {
  border-radius: 5px;
  background-color:white; 
  padding: 6px;
  color: var(--clr-primary);
  font-weight: bold;
}

.counter-btn {
  border-style: solid;
  border-color: white;
  border-radius: 50%;
  padding: 2px 8px;
}