.btn {
  background-color: #3d3cee;
  box-shadow: 0 0.2px 0.3rem #3d3cee;
  color: #FFF;;
}

#counter {
  padding-left: 4px;
  padding-right: 4px;
}

#multiplier {
  display: flex;
}

.booking-bar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 10vh;
  background-color: black;
  position: fixed;
  bottom: 7vh;
  width: 100vw;
  color: #FFF;

  p {
    margin-bottom: 0rem !important;
    color: white;
    font-size: 20px;
  }
}

// .booking-btn {
//   border-style: solid; 
//   border-radius: 5px;
//   border-color: white; 
//   padding: 4px;
//   color: white;
// }

.counter-btn {
  border-radius: 50%;
  padding: 2px 8px;
  border-style: none;
  color: rgba(235, 96, 81, 1.00);
  background: black;
  // box-shadow: 5px 5px 10px grey,
  // -5px -5px 10px lightgrey;
}