.neon-button {
  background-color: transparent;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1rem;
  color: rgba(37, 160, 245, 1.00);
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  border: rgba(37, 160, 245, 1.00) 0.125em solid;
  padding: .25em 1.25em;
  border-radius: 0.25em;
  text-transform: uppercase;
  text-shadow: 0 0 0.125em rgba(255, 255, 255, 0.5), 0 0 0.45em rgba(37, 160, 245, 1.00);
  box-shadow: inset 0 0 0.5em 0 rgba(37, 160, 245, 1.00), 0 0 0.5em 0 rgba(37, 160, 245, 1.00);
  position: relative;
  height: 3rem;

  a {
    color: rgba(37, 160, 245, 1.00);
    text-decoration: none;
  }
}

.neon-button::before {
  pointer-events: none;
  content: "";
  position: absolute;
  background: rgba(37, 160, 245, 1.00);
  top: 80%;
  left: 0;
  width: 100%;
  height: 100%;

  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1.2em);
  opacity: 0.7;
}

.neon-button::after {
  background: rgba(37, 160, 245, 1.00);
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 12em 0.5em rgba(37, 160, 245, 1.00);
  opacity: 0;
  transition: opacity 100ms linear;
  z-index: -1;
}

// .neon-button:hover,
// .neon-button:focus {
//   color: black;
//   text-shadow: none;
// }

// .neon-button:hover::after,
// .neon-button:focus::after {
//   opacity: 1;
// }

// .neon-button:hover::before,
// .neon-button:focus::before {
//   opacity: 1;
// }



#counter {
  padding-left: 4px;
  padding-right: 4px;
}

#multiplier {
  display: flex;
}

#price-input {
  display: flex;
}

.booking-bar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 11vh;
  background-color: black;
  position: fixed;
  bottom: 7vh;
  width: 100vw;
  color: #FFF;

  p {
    margin-bottom: 0rem !important;
    color: white;
    font-size: 20px;
  }
}

// .booking-btn {
//   border-style: solid; 
//   border-radius: 5px;
//   border-color: white; 
//   padding: 4px;
//   color: white;
// }

.counter-btn {
  border-radius: 50%;
  padding: 2px 8px;
  border-style: none;
  color: rgba(235, 96, 81, 1.00);
  background: black;
  // box-shadow: 5px 5px 10px grey,
  // -5px -5px 10px lightgrey;
}