.booking-bar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 64px;
  background-color: $content-color;
  position: fixed;
  bottom: 0px;
  width: 100%;
  color: white;

  p {
    margin-bottom: 0rem !important;
    color: white;
    font-size: 20px;
  }
}

.booking-btn {
  border-style: solid; 
  border-radius: 5px;
  border-color: white; 
  padding: 4px;
  color: white;
}

.counter-btn {
  border-style: solid;
  border-color: white;
  border-radius: 50%;
  padding: 2px 8px;
}