.event-card {
  background: var(--clr-card-bg);
  display: flex;
  height: 25vh;  
  position: relative;
  width: 100vw;

  a {
    text-decoration: none;
    color: var(--clr-card-text);
  }

  h2 {
    font-family: var(--ff-primary);
    font-size: 17px;
    font-weight: bold;
    margin: 0;
    padding-left: 4px;
  }

  img {
    height: 100%;
    object-fit: cover;
    width: 150px;
  }

  p {
    color: var(--clr-card-text);
    font-family: var(--ff-primary);
    font-size: 16px;
    line-height: 1.4;
    padding-left: 4px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}

.event-card-container {
  align-items: center;
  display: flex;
  height: 25vh;
  overflow: scroll;
  min-width: 320px;
  padding-bottom: 8px;  
  padding-top: 8px;
  position: static;
}

.event-timer {
  margin-bottom: 4px;
}

.event-details {
  margin-top: -8px;
}

.event-price {
  background-color: var(--clr-primary);
  bottom: 0px;
  border: 3px solid white;
  border-radius: 20px;
  color: var(--clr-card-text);
  font-family: var(--ff-primary);
  font-size: 16px;
  margin-bottom: 4px;
  margin-left: 4px;
  padding: 7px 10px;
  position: absolute;
  z-index: 1;
}

.event-information {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
}

.card-top-row {
  align-content: flex-start;
  display: flex;
  justify-content: space-between;
  padding: 4px;

  a {
    text-decoration: none;
    color: var(--clr-card-text);
  }
}

.event-review {
  display: flex;
  justify-content: start;
  align-content: flex-end;
}
