.flex {
  display: flex;
}

.flex-around {
  display: flex;
  justify-content: space-around;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-reverse {
  display: flex;
  flex-direction: row-reverse;
}

.flex-start {
  display: flex;
  align-items: flex-start; 
}

.justify-center {
  justify-content: center;
}

