.filter-button {
  background-color: var(--clr-black);
  border-color: var(--clr-orange);
  border-radius: 50%;
  border-style: solid;
  display: flex;
  filter: drop-shadow(0px 0px 4px #333);
  height: 50px;
  justify-content: center;
  margin: 2px;
  width: 50px;
}

button {
  background-color: transparent;
  border: none;
}
  
.filter-button-active {
  background: radial-gradient(var(--clr-orange) 1%, var(--clr-black) 80%);    
  background-color: var(--clr-black);
  border-radius: 50px;
  // animation-name: spin;
  // animation-duration: 5000ms;
  // animation-iteration-count: infinite;
  // animation-timing-function: linear; 
}

// @keyframes spin {
//   from {
//     transform:rotate(0deg);
//   }
//   to {
//     transform:rotate(360deg);
//   }
// }
    
// button icons
img {
  height: 30px;
}

.toggle-container {
  display: flex;
  height: 10px;
  flex-direction: column;
  position: absolute;
  z-index: 1;
}

