.filter-button {
  background-color: black;
  border-style: solid;
  border-color: rgba(254, 103, 87, 1.00);
  border-radius: 50%;
  display: flex;
  height: 50px;
  justify-content: center;
  margin: 2px;
  width: 50px;
  filter: drop-shadow(0px 0px 4px #333);
  }

  button {
    background-color: transparent;
    border: none;
  }
  
  //javascript toggle property
  .filter-button-active {
    background-color: black;
    border-radius: 50px;
    background: radial-gradient(rgba(254, 103, 87, 1.00) 1%, black 80%);    
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
    /* transform: rotate(3deg); */
    /* transform: rotate(0.3rad);/ */
    /* transform: rotate(3grad); */ 
    /* transform: rotate(.03turn);  */
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
  
   
  // button icons
  img {
    height: 30px;
  }

.toggle-container {
  height: 10px;
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 1;
}

