.toggle-container {
  position: absolute;
  z-index: 1;
}

#button-position {
  padding-top: 24px;
}

.fas {
  color: var(--clr-white);
  font-size: 26px;
  padding-bottom: 2px;
  padding-right: 2px;
}

// .filter-button,
// .random-event-button {
//   background-color: var(--clr-black);
//   border-radius: 50%;
//   border-style: solid;
//   display: flex;
//   filter: drop-shadow(0px 0px 4px #333);
//   height: 50px;
//   justify-content: center;
//   margin: 2px;
//   width: 50px;
// }

.filter-button {
  border-color: var(--clr-orange);
  background-color: var(--clr-black);
  border-radius: 50%;
  border-style: solid;
  display: flex;
  filter: drop-shadow(0px 0px 4px #333);
  height: 50px;
  justify-content: center;
  margin: 2px;
  width: 50px;
}

.filter-button-active {
  background: radial-gradient(var(--clr-orange) 1%, var(--clr-black) 80%);    
  background-color: var(--clr-black);
  border-radius: 50px;
}

.random-event-button {
  align-items: center;
  border-color: rgba(130, 55, 118, 1.00);
  background-color: var(--clr-black);
  border-radius: 50%;
  border-style: solid;
  display: flex;
  filter: drop-shadow(0px 0px 4px #333);
  height: 50px;
  justify-content: center;
  margin: 2px;
  width: 50px;
}

button {
  background-color: transparent;
  border: none;
}
   
img {
  height: 30px;
}
