.footer {
  bottom: 0px;
  align-items: center;
  background-color: var(--clr-footer-bg);
  display: flex;
  height: 2.5em;
  justify-content: space-around;
  position: fixed;
  width: 100%;

  a {
    color: var(--clr-footer-icons);
    font-size: 1.3em;
    padding-top: 4px; 
  }
}