.footer {
  bottom: 0px;
  align-items: center;
  background-color: var(--clr-footer-bg);
  display: flex;
  height: 7vh;
  justify-content: space-around;
  position: relative;
  min-width: 320px;

  a {
    color: var(--clr-footer-icons);
    font-size: 1.3em;
    margin-top: 4px; 
  }
}