#footer {
  align-items: center;
  background-color: var(--clr-black);
  height: calc(var(--vh, 1vh) * 7);
  max-width: 100%;
  width: 100vw;

  a,
  i {
    font-size: 1.3em;
    color: var(--clr-orange);
  }
}
