// Button Design
#book-now {
  background-color: #b16f9e; 
  border: 3px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 8px;
  color: white;
  font-family: Puritan;
}

// Country Codes
// Removes default <select> CSS
#country-codes {
  -webkit-appearance: none;
}

// input {
//   background-color: white;
// }