// Button Design

// Book Now Button
#book-now {
  background-color: #b16f9e; 
  border: 3px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 8px;
  color: white;
  font-family: Puritan;
}

// Continue and Email Buttons
.nav-button {
  background-color: #b16f9e; 
  border: 3px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 8px;
  color: white;
  font-family: Puritan;
  height: 40px;
  width: 140px;
}

// Platform Login Buttons
.platform-login {
  display: flex;
  justify-content: space-around;
}

.platform-login-button {
  align-items: center;
  background-color: white;
  border-radius: 50%;
  display: flex;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  height: 45px;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
  width: 45px;

  img {
    height: 35px;
    width: 35px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
  }
}


// Modal Design
.header {
  margin-bottom: 8px;
}

.modal-body {
  height: auto;
  width: auto;
  text-align: center;

  p {
    color: white;
  }
}

.modal-content {
  background-color: #B16F9E;
  border-color: white;
  border-style: solid;
  border-radius: 16px;
  border-width: 3px;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.25));
  margin-top: 30%;
  padding-bottom: 12px;
  width: 90%
}

.modal-dialog {
  display: flex;
  justify-content: center;
}

.modal-title {
  font-family: Puritan;
  font-size: 16px;
}


// Country Codes
.country-codes {
  select {
    background-color: white;
    border-radius: 4px;
    border-style: solid;
    height: 40px;
    padding-left: 8px;
    width: 75%;
  }

  span {
    color: white;
    font-family: Puritan;
    font-size: 12px;
  }
}
// Removes default <select> CSS
#country-codes {
  -webkit-appearance: none;
}


// Phone Number Input
#phone-number{
  input {
    background-color: white;
    border-radius: 4px;
    color: black;
    height: 40px;
    margin-bottom: 12px;
    padding-left: 8px;
    width: 75%;
  }
}

label {
  color: white;
  font-family: Puritan;
  font-size: 12px;
  margin-bottom: -4px;
}


// Or

#or {
  color: white;
  font-family: Puritan;
  font-size: 16px;
  margin-bottom: 12px;
}
