// Button Design

// Book Now Button
#book-now {
  background-color: #b16f9e; 
  border: 3px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 8px;
  color: white;
  font-family: Puritan;
}

// Continue and Email Buttons
.nav-button {
  background-color: #b16f9e; 
  border: 3px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 8px;
  color: white;
  font-family: Puritan;
}

// Platform Login Buttons
.platform-login-button {
  background-color: white;
  border-radius: 50%;
  display: flex;
  height: 50px;
  justify-content: center;
  position: relative;
  width: 50px;

  i {
    height: 50px;
    width: 50px;
  }

  img {
    height: 35px;
    width: 35px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
  }
}


// Modal Design
.modal-body {
  height: auto;
  width: auto;
  text-align: center;

  p {
    color: white;
  }
}

.modal-content {
  background-color: #B16F9E;
  border-color: white;
  border-style: solid;
  border-radius: 16px;
  border-width: 3px;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.25));
  margin-top: 50%;
}

.modal-title {
  font-family: Puritan;
  font-size: 16px;
}

// Phone Number Input
#phone-number{
  input {
    background-color: white;
    color: black;
    width: 75%;
    margin-bottom: 4px;
  }

  label {
    color: white;
    font-family: Puritan;
    font-size: 12px;
    margin-bottom: -4px;
  }
}

// Or

#or {
  color: white;
  font-family: Puritan;
  font-size: 16px;
  margin-bottom: 4px;
}

// Country Codes

.country-codes {
  select {
    background-color: white;
    border-style: solid;
    width: 75%;
  }

  span {
    color: white;
    font-family: Puritan;
    font-size: 12px;
  }
}
// Removes default <select> CSS
#country-codes {
  -webkit-appearance: none;
}