.suprise-button {
  background-color: #B16F9E;
  border-style: solid;
  border-color: white;
  border-radius: 50%;
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
  margin: 2px;
  width: 50px;
  }

  button {
    background-color: transparent;
    border: none;
  }
  
  //javascript toggle property
  .price-button-active {
    border-radius: 50%;
    box-shadow: inset 2px 2px 4px #643b58;
  }

  .price-button:active {
    background-color: white;
  }

  // button icons
  img {
    height: 30px;
  }

.price-button-container {
  height: 10px;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  // justify-content: space-between;
  position: absolute;
  bottom: 25%;
  right: 5px;
  z-index: 1;
  color: white;
}

.price-counter {
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
}