// go button
.go-btn {
  border-color: var(--clr-text);
  border-radius: 16px;
  border-style: solid;
  border-width: var(--border-width);
  color: var(--clr-text);
  font-family: var(--ff-primary);
  font-size: var(--f-size-header);
  left: 0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  right: 0;
  text-align: center;
  top: 150%;
}

// location pin positioning
#pin {
  margin-left: auto;
  padding-right: 8px;
}

// search form centring
.position-container {
  display: flex;
  justify-content: center;
}

// search form design
.fas {
  color: white;
}

::placeholder {
  color: var(--clr-text); 
  font-family: var(--ff-primary);
  opacity: 1;
}

.search-container {
  align-items: center;
  background-color: #B16F9E;
  border-color: white;
  border-radius: 16px;
  border-style: solid;
  display: flex;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.25));
  height: 2em;
  width: min(90vw);
 
  i {
    color: white;
    padding-left: 8px;
    padding-right: 4px;
  }
}

#search {
  width: 225px;
}

#search:focus {
  outline: none;
}

// Remove default form styling
input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  background-color: #B16F9E;
  color: white;
}

// Remove outline from search box
#query:focus {
  outline: none;
}

// Remove default button styling
button {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  background-color: Transparent;
}

#search-bar {
  left: 0;
  margin-left: auto;
  margin-right: auto;
  top: 60%;
  position: absolute;
  right: 0;
}

// Remove styling from input
input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

// modal
// Modal Design
.header {
  margin-bottom: 8px;
}

.modal-body {
  height: auto;
  width: auto;
  text-align: center;

  p {
    color: white;
  }
}

.modal-content {
  background-color: #B16F9E;
  border-color: white;
  border-style: solid;
  border-radius: 16px;
  border-width: 3px;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.25));
  margin-top: 30%;
  padding-bottom: 12px;
  width: 90%
}

.modal-dialog {
  display: flex;
  justify-content: center;
}

.modal-title {
  font-family: Puritan;
  font-size: 16px;
}

