// Component
.component-container {
  position: fixed;
  z-index: 1;
  margin-top: -16px;
  left: 20px;
}

// Modal
.modal-content {
  background-color: #B16F9E;
  border-style: solid;
  border-color: white;
}


// Toggle Buttons
.filter-button {
  border-style: solid;
  border-color: white;
  border-radius: 50%;
  width: 2em;
}

.toggle-container {
  display: flex;
  justify-content: center;
}

// Search
.container {
  display: flex;
  justify-content: center;
}

// Search form design
.fas {
  color: white;
}

.filter-icon {
  margin-left: auto;
  padding-right: 4px;
}

::placeholder {
  color: white; 
  font-family: puritan;
  opacity: 1;
}

.search-container {
  align-items: center;
  background-color: #B16F9E;
  border-color: white;
  border-radius: 16px;
  border-style: solid;
  display: flex;
  height: 34px;
  width: 300px;

  i {
    color: white;
    padding-left: 8px;
    padding-right: 4px;
  }
}

// Remove default form styling
input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  background-color: #B16F9E;
  color: white;
}

// Remove outline from search box
#query:focus {
  outline: none;
}

// Remove default button styling
button {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  background-color: #B16F9E;
}

// Remove styling from input
input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
