input {
  background-color: var(--clr-white);
  border-radius: 32px;
  border-style: hidden;
  color: var(--clr-black); 
  font-family: var(--ff-primary);
  font-size: 20px;
  height: 60px;
  opacity: 1;
  padding-bottom: 4px;
  padding-left: 24px;
}

#locate-button {
  background-color: var(--clr-yellow);
  border-radius: 50%;
  color: var(--clr-black);
  height: 60px;
  margin-right: 8px;
  padding-top: 12px;
  text-align: center;
  width: 60px;

  .fas {
    font-size: 32px;
    color: var(--clr-black);
  }
}

::placeholder {
  color: var(--clr-black); 
  font-family: var(--ff-primary);
  font-size: 20px;
  opacity: 1;
}

#query:focus,
#search:focus {
  outline: none;
}

#search {
  height: 60px;
  width: 225px;
}

#search-bar {
  left: 0;
  margin-left: auto;
  margin-right: auto;
  top: 85%;
  position: absolute;
  right: 0;
}

input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
