.typewriter-container {
  display: inline-block;
}

.typewriter {
  overflow: hidden;
  border-right: .15em solid var(--clr-white);
  white-space: nowrap;
  animation: 
    typing 8s steps(40, end),
    blink-caret 1s step-end infinite;
    // animation-iteration-count: infinite;
}

@keyframes typing {
  0% {
    width: 0; 
  }

  50% {
    width: 50%;
  }

  100% {
    width: 100%;
  }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: var(--clr-white); }
}
