.surprise-button {
  background-color: black;
  border-style: solid;
  border-color: rgba(130, 55, 118, 1.00);
  border-radius: 50%;
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
  margin: 2px;
  width: 50px;
  // box-shadow: 2px 2px 4px #643b58;
  filter: drop-shadow(0px 0px 4px #333);

  }

  .fas {
    color: #FFF;
    font-size: 26px;
    padding-bottom: 2px;
    padding-right: 2px;
  }

.surprise-button-container {
  // background-color: #B16F9E;
  // width:110px;
  // padding: 5px;
  // border-radius: 12px;
  // border-style: solid;
  // border-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  right: 8px;
  top: 55vh;
  position: fixed;
  z-index: 99999;
  color: white;

  // p {
  //   font-weight: bold;
  //   font-size: 12px;
  // }
}