.surprise-button {
  background-color: #B16F9E;
  border-style: solid;
  border-color: white;
  border-radius: 50%;
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
  margin: 2px;
  width: 50px;
  box-shadow: 2px 2px 4px #643b58;
  }

  .surprise-button:active {
    background-color: white;
  }

  // button icons
  img {
    height: 30px;
  }

.surprise-button-container {
  background-color: #B16F9E ;
  width:110px;
  padding: 5px;
  border-radius: 12px;
  border-style: solid;
  border-color: white;

  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  // justify-content: space-between;
  position: absolute;
  bottom: 178px;
  right: 8px;
  z-index: 99999;
  color: white;

  p {
    font-weight: bold;
    font-size: 12px;
  }
}