// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

:root {
  --clr-footer-icons: #A9729C;
  --clr-footer-bg: #fff;
  --clr-logo: #fff;
  --clr-primary: #A9729C;
  --clr-text: #fff;
  --clr-card-text: black;
  --clr-card-bg: #fff;

  --ff-logo: 'Fredoka One', cursive;
  --ff-header: 'Arial';
  --ff-primary: 'Puritan';

  --border-width: 3px;

  --f-size-logo: 3.2em;
  --f-size-header: 1.2em;
}

