// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

// .min-height {
//   min-height: calc(100vh - 48px);
// }

h1 {
  font-family: $header-one;
  font-size: 50px;
}

h2 {
  font-family: $header-two;
  font-size: 28px;
}
  

p {
  font-family: 'Hind Siliguri', sans-serif;
}

