<div class="review-show-container">
  <h1>Add a review</h1>  
  <%= simple_form_for [ @order, @review ] do |f| %>
    <%= f.input :event_review, class: "form-label" %>
    <%= f.input :venue_rating %>
    <%= f.button :submit, "Add your review", class: "submit-btn" %>
  <% end %>
</div>
